/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
    font-family: "helvetica";
  font-style: normal;
  font-weight: 200;
    src: local("helvetica_ultra_light "), /* computer */
        url("helvetica_ultra_light .eot"), /* IE9 Compat Modes */
        url("helvetica_ultra_light .eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
/*        url("helvetica_ultra_light .woff2") format("woff2"),  Modern Browsers */
/*        url("helvetica_ultra_light .woff") format("woff"),  Modern Browsers */
/*        url("helvetica_ultra_light .ttf") format("truetype");  Safari, Android, iOS */
}
@font-face {
    font-family: "helvetica";
  font-style: normal;
  font-weight: 300;
    src: local("helvetica_light"), /* computer */
        url("helvetica_light.eot"), /* IE9 Compat Modes */
        url("helvetica_light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
/*        url("helvetica_light.woff2") format("woff2"),  Modern Browsers */
        url("helvetica_light.woff") format("woff"), /* Modern Browsers */
        url("helvetica_light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "helvetica";
  font-style: normal;
  font-weight: 500;
    src: local("helvetica_roman"), /* computer */
        url("helvetica_roman.eot"), /* IE9 Compat Modes */
        url("helvetica_roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
/*        url("helvetica_roman.woff2") format("woff2"),  Modern Browsers */
        url("helvetica_roman.woff") format("woff"), /* Modern Browsers */
        url("helvetica_roman.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "helvetica";
  font-style: normal;
  font-weight: 700;
    src: local("helvetica_bold"), /* computer */
        url("helvetica_bold.eot"), /* IE9 Compat Modes */
        url("helvetica_bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
/*        url("helvetica_bold.woff2") format("woff2"),  Modern Browsers */
        url("helvetica_bold.woff") format("woff"), /* Modern Browsers */
        url("helvetica_bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
